% -*- mode: erlang -*-
{erl_opts, [debug_info]}. %% required for dialyzer
{port_envs, [{"^(?!.*win32)", "DRV_CFLAGS", "$DRV_CFLAGS -Wall -Wextra -Wno-unused-parameter"},
             {"^(?!.*win32)", "DRV_LDFLAGS", "$DRV_LDFLAGS -lsqlite3"},
             {"win32", "CFLAGS", "/IF:/MyProgramming/sqlite-amalgamation /Ic_src"},
%%             {"win32", "CFLAGS", "/IF:/MyProgramming/sqlite-amalgamation /Ic_src /W4 /wd4100 /wd4204"},
             {"win32", "LDFLAGS", "sqlite3.lib"}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{plt, "dialyzer/sqlite3.plt"}]}.
